// Toggle to debug
// debug()

// dependencies
@import "jeet"
@import "rupture"

// base
@import "base/mixins"
@import "base/globals"
@import "base/colors"
@import "base/typography"
@import "base/animations"

// components
@import "components/footer"
@import "components/header"
@import "components/buttons"

// pages
@import "pages/index"
// Add individual pages here
