block footer
<<<<<<< HEAD

  footer(role='contentinfo') 
    //- Footer content here
=======
   
  footer(role="contentinfo")
    p Footer content here
>>>>>>> 6e5367e5dfde5b76d6b1bd4d017eea2f4e491d3b
