
// This is all demo. Delete everything below when starting

body.home
  background #efefef
  color #333

  a, button
    margin-right rem(10px)
    button-base(darkturquoise , turquoise , white, white)
