extends ../layouts/main

block vars
  - var pageTitle   ='Change me, or be embarrassed.'
  - var description ='This is the description of this page.'
  - var bodyClass   ='home'

block content

  //- Custom content here. Delete everything below to begin.

  section#headers
    div.center
      hgroup
        h1 Boilerplate v2
        h2 Several fabulous dixieland jazz groups played with quick tempo.
        h3 Back in my quaint garden, jaunty zinnias vie with flaunting phlox. 
        h4 I quickly explained that many big jobs involve few hazards. 
        h5 Jay Wolf is quite an expert on the bass violin, guitar, dulcimer, ukulele and zither. 
        h6 Expect skilled signwriters to use many jazzy, quaint old alphabets effectively.

block scripts

  //- any page specific scripts go here
