extends ../layouts/main

block vars
  - var pageTitle           ='Default Page Title'
  - var description         ='This is the description of this page.'
  - var bodyClass           ='home'

  //- Facebook Meta
  - var ogTitle             ='Default Page Title' 
  - var ogType              ='website'  
  - var ogurl               ='http://google.com'     
  - var ogImg               ='http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg' 
  - var ogDescription       ='This is the description of this page.'      

  //- Twitter Cards
  - var twitterCard         ='summary_large_image' 
  - var twitterSite         ='@therealkni' 
  - var twitterCreator      ='@dbox' 
  - var twitterTitle        ='Default Page Title' 
  - var twitterDescription  ='This is the description of this page.' 
  - var twitterImgSrc       ='http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg' 

block content

  //- Custom content here. Delete everything below to begin.

  section#headers
    div.center
      hgroup
        h1 Boilerplate v2
        h2 Several fabulous dixieland jazz groups played with quick tempo.
        h3 Back in my quaint garden, jaunty zinnias vie with flaunting phlox. 
        h4 I quickly explained that many big jobs involve few hazards. 
        h5 Jay Wolf is quite an expert on the bass violin, guitar, dulcimer, ukulele and zither. 
        h6 Expect skilled signwriters to use many jazzy, quaint old alphabets effectively.

      p Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

block scripts

  //- any page specific scripts go here
