// 140 Color Names Supported by All Browsers
// http://www.w3schools.com/htmL/html_colornames.asp

// Name that Color
// http://chir.ag/projects/name-that-color/#6195ED



// Brand colors
$white = #fff
$black = #000

// Color classes
.black 
  color $black

.white 
  color $white

