// Bulletproof Select Styling 
// http://jsbin.com/guyomuwa/1/edit


label {
    color:#777;
    font-size: 0.9em;
    display:block;
    margin-top:2em;
}

.dropdown {
  display:block;
  margin-top:0.5em;
  max-width:100%;
  overflow:hidden;
  position: relative;
  width:100%;
}

select {
    /* Make sure the select is wider than the container so we can clip the arrow */
    width:110%;
    max-width:110%;
    min-width:110%;
    /* Remove select styling */
    appearance: none;
    -webkit-appearance: none;
    /* Ugly Firefox way of doing it */
    -moz-appearance: window;
    text-indent: 0.01px;
    text-overflow: "";
    /* Magic font size number to prevent iOS text zoom */
    font-size:16px;
    font-weight: bold;
    background:none;
    border: none;
    color: #444;
    outline: none;
    /* Padding works surpringly well */
    padding: .4em 19% .4em .8em;
    font-family: helvetica, sans-serif;
    line-height:1.2;
    margin:.2em;
}
    
/* This hides native dropdown button arrow in IE */
select::-ms-expand {
    display: none;
}

/* Custom arrow - could be an image, SVG, icon font, etc. */
.dropdown:after {
    background: none;
    color: #bbb;
    content: "\25BC";
    font-size: .7em;
    padding:0;
    position: absolute;
    right: 1em;
    top: 1.2em;
    bottom: .3em;
    z-index: 1;
    /* This hack makes the select behind the arrow clickable in some browsers */
    pointer-events:none;
}
   
/* Hover style - tricky because we're clipping the overflow */
.dropdown:hover {
    border:1px solid #888;
}
    
/* Focus style */
select:focus {
    outline: none;
    box-shadow: 0 0 3px 3px rgba(180,222,250, .85);
}
    
/* This hides focus around selected option in FF */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
    
    
/* These are just demo button-y styles, style as you like */
.button {
    border: 1px solid red;
    border-radius: .5em;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    background: red; /* Old browsers */
}


//Example: 

//    <label class="wrapper">This label wraps the select
//      <div class="button dropdown">
//        <select>
//         <option>Apples</option>
//          <option>Bananas</option>
//          <option>Grapes</option>
//          <option>Oranges</option>
//          <option selected>A very long option name to test wrapping and visual collisions</option>
//        </select>
//      </div>
//    </label>