//
// Global styles and fun stuff
// –––––––––––––––––––––––––––––––––––––––––––


// Variables
$maxSiteWidth = 1140px
$desktopWidth = 940px
$tabletWidth  = 720px
$mobileWidth  = 100%


// Repsonive scale, reference: http://jenius.github.io/rupture/
scale           = 0px 768px 992px 1200px
mobile-cutoff   = 768px
tablet-cutoff   = 992px
desktop-cutoff  = 1200px


//
// Global layout
// –––––––––––––––––––––

*
  box-sizing border-box

body, html
  margin 0
  padding 0 5%

// Main responsive template styles here
section
  padding rem(70px) 0

.center
  position relative
  clear both
  margin 0 auto
  width 100%

  +below(3)
    width $desktopWidth

  +below(2)
    width $tabletWidth

  +below(1)
    width 90%
    margin 0 5%

//
// Utility classes
// –––––––––––––––––––––
.circle
  border-radius 50%

nav[role='navigation']
  ul
    inline-list()
